version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"        # pom.xml tổng ở root
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "maven"
    commit-message:
      prefix: "deps"
      include: "scope"

  # Dependabot update Actions trong .github/workflows
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "github-actions"
