server:
  port: 8093

grpc:
  server:
    port: 50051
    security:
      enabled: false
    negotiationType: plaintext
  client:
    core:
      address: 'static://localhost:50051'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
    business:
      address: 'static://localhost:50052'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext

spring:
  application:
    name: "core-ms"
  profiles:
    active: "dev"
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  #    url: jdbc:mysql://localhost:3306/identity_db
  #    username: mysql_identity
  #    password: dinhanst2832004
  #    driver-class-name: com.mysql.cj.jdbc.Driver
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import: "optional:configserver:http://localhost:8091/"

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 1s
      connect-timeout: 2s

  mail:
    host: smtp.gmail.com
    port: 587
    username: yunomix2834@gmail.com
    password: mfym xcpi cstr ckfd
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  jwt:
    signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
    valid-duration: 7200  # in second ~~ 2 ti?ng
    refreshable-duration: 1209600 # ~~ 2 tu?n
  otp:
    expiry-minutes: 5
  password-reset:
    expiry-minutes: 15
  init:
    admin:
      username: admin
      password: adminRoot123
      email: adminRoot123@gmail.com
    user:
      username: userRoot
      password: userRoot123
      email: userRoot123@gmail.com

core:
  http:
    error:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: "http://localhost:8090/eureka/"

info:
  app:
    name: "core-ms"
    description: "Yunomi Xavia Core Project"
    version: "1.0.0"

logging:
  level:
    com:
      demo: DEBUG

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000

resilience4j.retry:
  configs:
    default:
      maxAttempts: 3
      waitDuration: 500
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2
      ignoreExceptions:
        - java.lang.NullPointerException
      retryExceptions:
        - java.util.concurrent.TimeoutException

resilience4j.ratelimiter:
  configs:
    default:
      timeoutDuration: 1000
      limitRefreshPeriod: 5000
      limitForPeriod: 1
