name: Maven CI
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v5.0.1

      - name: Set up JDK 21
        uses: actions/setup-java@v5.0.0
        with:
          distribution: "temurin"
          java-version: '21'
          cache: 'maven'

      - name: Build & run tests
        run: mvn -B -ntp clean verify

      - name: Upload JaCoCo aggregate report
        if: always()
        uses: actions/upload-artifact@v4.4.0
        with:
          name: jacoco-report
          path: |
            **/target/site/jacoco-aggregate
            **/target/site/jacoco
          if-no-files-found: ignore

