name: Maven CI
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: '21'
          cache: 'maven'

      - name: Build & run tests
        run: mvn -B -ntp clean verify

      - name: Generate JaCoCo aggregate report
        run: mvn -B -ntp jacoco:report-aggregate

